* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-family: mallory-book, system-ui, sans-serif;
	font-size: 18px;
	line-height: 1.45;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: mallory-bold, system-ui, sans-serif;
	font-weight: normal;
	letter-spacing: -0.02em;
}

.button {
	background: white;
	border: 0;
	border-radius: 0.25rem;
	color: black;
	font-family: mallory-medium;
	font-size: 1.125rem;
	line-height: 1;
	margin-block-start: 1rem;
	padding: 0.75rem 1rem;
}
